{
  "openapi": "3.1.0",
  "info": {
    "title": "Charming API",
    "version": "0.1.0",
    "description": "Public HTTP surface for the Charming app runtime. The narrative agent guide lives at https://charm.ing/docs/llms-full.txt; this spec is the machine-readable source of truth for routes, request/response shapes, and error kinds.\n\nTimeout SLAs (`info[\"x-charming-sla\"]` + per-operation `x-charming-timeout-ms`) are documentation only — they describe the targets the server tries to hit, not enforced ceilings. Use them to set sensible client read timeouts, not as hard guarantees.",
    "x-charming-sla": {
      "read_ms": 2000,
      "mutate_ms": 10000,
      "call_ms": 30000,
      "description": "Target SLAs the server tries to hit, in milliseconds. `read_ms` covers GET reads (source, describe, diag, activity, list, resolve). `mutate_ms` covers POST/PUT/PATCH/DELETE writes (create, update, source patch, delete, claim, secrets, remixable, starter-prompt, icon, feedback). `call_ms` covers `POST /app/{id}/api/{operation}` (the executor app-code budget). These are targets, not enforced ceilings — see `info.description`. Per-operation overrides ride on the operation object as `x-charming-timeout-ms`."
    }
  },
  "servers": [
    {
      "url": "https://charm.ing"
    }
  ],
  "components": {
    "securitySchemes": {
      "appToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "chrm_app_*",
        "description": "Per-app token returned once by `POST /app` for anonymous creates. Authorises mutations and `/api/*` calls on that one app only."
      },
      "userToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "chrm_user_*",
        "description": "User-scoped personal access token. Mint via `POST /api/token` after signing in, or via the device-pairing flow at `POST /api/pair/start`. Authorises everything the user can do."
      },
      "renderToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "chrm_render_*",
        "description": "Short-lived per-app token used by null-origin sandboxed iframes (Claude Desktop, ChatGPT Apps) to call back into the app without cookies. Minted server-side at render time and embedded in the runtime closure; not user-mintable. Bound to one app id."
      },
      "renderTokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "t",
        "description": "URL-signed render token, equivalent to `renderToken` but carried in the query string for GET /app/{id} loads where iframes cannot attach Authorization headers (the MCP viewer fetch+srcdoc path). Bound to one app id; expires after ~24 hours."
      }
    },
    "headers": {
      "RateLimit-Limit": {
        "description": "Total capacity of the most-restrictive bucket gating this request (draft IETF `RateLimit` header field). Pair with `RateLimit-Remaining` and `RateLimit-Reset` to project headroom; the legacy `X-RateLimit-Limit` alias carries the same value for older agent tooling.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimit-Remaining": {
        "description": "Whole tokens still available in the most-restrictive bucket. Floored, never negative. Drops to `0` on the response that exhausts the bucket.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimit-Reset": {
        "description": "Seconds until the next whole token is available in the most-restrictive bucket. `0` while remaining > 0. On a 429 this equals `Retry-After`.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "X-RateLimit-Limit": {
        "description": "Legacy alias of `RateLimit-Limit` — same value, kept for older tooling.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Legacy alias of `RateLimit-Remaining` — same value, kept for older tooling.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "X-RateLimit-Reset": {
        "description": "Legacy alias of `RateLimit-Reset` — same value, kept for older tooling.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "Retry-After": {
        "description": "Integer seconds the client should wait before retrying. Mirrors `RateLimit-Reset` on 429 so generic HTTP clients can back off without parsing the body.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "description": "Stable enum-shaped error key. Branch on this for recovery flows.",
                "enum": [
                  "not_found",
                  "unknown_operation",
                  "operation_not_found",
                  "operation_failed",
                  "unauthorized",
                  "sign_in_required",
                  "token_expired",
                  "forbidden",
                  "forbidden_write",
                  "stored_value_too_large",
                  "storage_full",
                  "invalid_module",
                  "invalid_ui",
                  "invalid_route_schema",
                  "invalid_routes_shape",
                  "contract_migration_required",
                  "invalid_manifest_schema",
                  "invalid_manifest_exports",
                  "invalid_request",
                  "invalid_input",
                  "invalid_output",
                  "unexpected_keys",
                  "capability_denied",
                  "capability_error",
                  "executor_error",
                  "invalid_call_shape",
                  "already_claimed",
                  "duplicate_remix",
                  "manifest_not_found",
                  "payload_too_large",
                  "module_too_large",
                  "ui_too_large",
                  "description_too_long",
                  "missing_description",
                  "invalid_description",
                  "rate_limited",
                  "image_origin_denied",
                  "too_many_requests",
                  "expired",
                  "already_approved",
                  "anon_not_remixable",
                  "template_listing_incomplete",
                  "template_media_invalid",
                  "forbidden_template_edit",
                  "invalid_if_match",
                  "precondition_required",
                  "expected_revision_required",
                  "idempotency_key_required",
                  "idempotency_conflict",
                  "contract_not_enabled",
                  "app_build_capacity",
                  "app_build_failed",
                  "app_build_expired",
                  "app_build_authority_lost",
                  "app_build_unavailable",
                  "app_build_unsupported",
                  "version_history_unavailable",
                  "version_not_restorable",
                  "revision_mismatch",
                  "invalid_revision",
                  "candidate_effects_unsupported",
                  "old_string_not_found",
                  "old_string_not_unique",
                  "edits_too_large",
                  "manifest_id_conflict",
                  "manifest_id_immutable",
                  "text_too_large",
                  "structured_data_too_large",
                  "app_not_found",
                  "feedback_not_found",
                  "feedback_has_no_reply_recipient",
                  "asset_too_large",
                  "asset_count_exceeded",
                  "asset_quota_exceeded",
                  "asset_invalid_key",
                  "asset_invalid_content_type",
                  "asset_error",
                  "invalid_id",
                  "sse_cookie_expired",
                  "invalid_secret_name",
                  "secret_too_large",
                  "secret_already_exists",
                  "secret_not_found",
                  "invalid_icon",
                  "team_slug_taken",
                  "already_member",
                  "grantee_not_found",
                  "invite_cap_reached",
                  "read_only",
                  "handle_taken",
                  "invalid_handle",
                  "name_taken",
                  "app_unclaimed",
                  "link_cap_reached",
                  "grantee_is_owner",
                  "grantee_is_self",
                  "grantee_already_has_access",
                  "already_invited",
                  "routine_limit_exceeded",
                  "invalid_interval",
                  "op_requires_input",
                  "duplicate_routine"
                ]
              },
              "message": {
                "type": "string"
              },
              "reason": {
                "type": "string",
                "description": "Set on 401s to distinguish token failure modes when finer detail is needed. `token_revoked_post_claim` is the post-#1284 surface for a chrm_app_* that was invalidated by a claim — the `recovery` field on the same `error` object carries the self-contained pairing-recovery hint the agent should follow instead of creating a new app.",
                "enum": [
                  "token_malformed",
                  "token_unknown",
                  "token_revoked",
                  "token_revoked_post_claim"
                ]
              },
              "recovery": {
                "description": "Self-contained recovery hint, branching on `kind`. Attached to error envelopes the agent can self-correct on: `pair` for `token_revoked_post_claim` 401s (#1284), `retry` for 429s, `shrink` for too-large / quota-exceeded 413s, `refetch` for 412 `revision_mismatch` / `invalid_if_match` / 428 `precondition_required`, `fix_route_label` for 403 `forbidden_write`, `open_existing` for 409 `duplicate_remix`, `rename` for 409 `manifest_id_immutable` / `manifest_id_conflict`, and `migrate_contract` for 422 `contract_migration_required`. Every `instructions` string is a single-paragraph, action-first walk-through. Inlined per ADR 2026-05-06-agent-facing-error-surfaces-self-contain-the-fix.",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RecoveryPair"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryRetry"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryShrink"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryRefetch"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryFixRouteLabel"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryOpenExisting"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryRename"
                  },
                  {
                    "$ref": "#/components/schemas/RecoveryMigrateContract"
                  }
                ],
                "discriminator": {
                  "propertyName": "kind"
                }
              }
            },
            "additionalProperties": true
          }
        }
      },
      "RecoveryPair": {
        "type": "object",
        "required": [
          "kind",
          "start",
          "verification_url",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "pair"
            ]
          },
          "start": {
            "type": "string",
            "format": "uri"
          },
          "verification_url": {
            "type": "string",
            "format": "uri"
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RecoveryRetry": {
        "type": "object",
        "required": [
          "kind",
          "retry_after_sec",
          "retry_after_url",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "retry"
            ]
          },
          "retry_after_sec": {
            "type": "integer",
            "minimum": 0,
            "description": "Seconds to wait before retrying. Matches the `RateLimit-Reset` and `Retry-After` headers on the same response."
          },
          "retry_after_url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute URL to retry verbatim once the wait elapses."
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RecoveryShrink": {
        "type": "object",
        "required": [
          "kind",
          "field",
          "size_bytes",
          "cap_bytes",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "shrink"
            ]
          },
          "field": {
            "type": "string",
            "enum": [
              "module",
              "ui",
              "styles",
              "description",
              "text",
              "structured_data",
              "asset",
              "edits",
              "secret",
              "payload"
            ],
            "description": "Which input tripped the cap."
          },
          "size_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "cap_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RecoveryRefetch": {
        "type": "object",
        "required": [
          "kind",
          "refetch_url",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refetch"
            ]
          },
          "refetch_url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute URL to GET for the fresh ETag before retrying with a corrected If-Match."
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RecoveryFixRouteLabel": {
        "type": "object",
        "required": [
          "kind",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "fix_route_label"
            ]
          },
          "instructions": {
            "type": "string",
            "description": "App-code recovery: the fix is in the route declaration, NOT in the request. Retrying the same request will fail again."
          }
        },
        "additionalProperties": false
      },
      "RecoveryOpenExisting": {
        "type": "object",
        "required": [
          "kind",
          "existing_app_id",
          "existing_url",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "open_existing"
            ]
          },
          "existing_app_id": {
            "type": "string"
          },
          "existing_url": {
            "type": "string",
            "format": "uri"
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RecoveryRename": {
        "type": "object",
        "required": [
          "kind",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "rename"
            ]
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RecoveryMigrateContract": {
        "type": "object",
        "required": [
          "kind",
          "instructions"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "migrate_contract"
            ]
          },
          "instructions": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Icon": {
        "type": "object",
        "description": "Optional home-screen / favicon icon. The server composes a colored rounded-square PNG/SVG from `emoji + bg` — NOT a list of image URLs like a W3C web manifest. Omit it to get the default icon. If `emoji` or `bg` is invalid the whole icon is silently dropped (stored as unset, so the default renders) and the create/update response carries a `warnings[]` entry. This warn-and-drop contract is the `manifest.icon` publish path only (`PUT /app/{id}` and its create counterpart) — `PUT /app/{id}/icon` uses the stricter `IconStrict` schema instead.",
        "required": [
          "emoji",
          "bg"
        ],
        "properties": {
          "emoji": {
            "type": "string",
            "description": "A single emoji, rendered centered (e.g. `⚽`). Extra glyphs are dropped."
          },
          "bg": {
            "type": "string",
            "pattern": "^#(?:[0-9a-fA-F]{3}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$",
            "description": "Background color as a hex string (`#rgb`, `#rrggbb`, or `#rrggbbaa`). Named colors (`\"green\"`), `rgb()`/`hsl()`, and image URLs are rejected."
          }
        },
        "additionalProperties": false
      },
      "IconStrict": {
        "type": "object",
        "description": "Home-screen / favicon icon for `PUT /app/{id}/icon`. Same shape as `Icon`, but validated strictly: an invalid `emoji` or `bg` is rejected with 400 `invalid_icon` rather than silently dropped (the dashboard icon picker needs a hard rejection; `Icon`'s warn-and-drop contract is for agent publishes, where a typo must never fail).",
        "required": [
          "emoji",
          "bg"
        ],
        "properties": {
          "emoji": {
            "type": "string",
            "description": "A single emoji, rendered centered (e.g. `⚽`). Must contain at least one grapheme, or the request is rejected with 400 `invalid_icon`. A value with more than one grapheme (e.g. `⚽⚾`) is accepted, not rejected — only the first grapheme renders and the rest are silently dropped, the same truncation `Icon.emoji` discloses (`Extra glyphs are dropped.`); this endpoint is strict about invalid input, not about single-glyph input."
          },
          "bg": {
            "type": "string",
            "pattern": "^#(?:[0-9a-fA-F]{3}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$",
            "description": "Background color as a hex string (`#rgb`, `#rrggbb`, or `#rrggbbaa`). Named colors (`\"green\"`), `rgb()`/`hsl()`, and image URLs are rejected."
          }
        },
        "additionalProperties": false
      },
      "Manifest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://charm.ing/schema/app-manifest/2026-07-31.json",
        "type": "object",
        "required": [
          "id",
          "meta"
        ],
        "additionalProperties": false,
        "properties": {
          "$schema": {
            "const": "https://charm.ing/schema/app-manifest/2026-07-31.json"
          },
          "id": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{0,63}$"
          },
          "meta": {
            "type": "object",
            "required": [
              "name"
            ],
            "additionalProperties": false,
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "icon": {
                "type": "object",
                "required": [
                  "emoji",
                  "bg"
                ],
                "additionalProperties": false,
                "properties": {
                  "emoji": {
                    "type": "string",
                    "minLength": 1
                  },
                  "bg": {
                    "type": "string",
                    "pattern": "^#(?:[0-9a-fA-F]{3}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$"
                  }
                }
              }
            }
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "imports": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "oneOf": [
                    {
                      "enum": [
                        "charming:storage/kv@1.0",
                        "charming:storage/blob@1.0",
                        "charming:logging/emit@1.0",
                        "charming:network/fetch@1.0",
                        "charming:secrets/fetch@1.0",
                        "charming:browser/microphone@1.0",
                        "charming:browser/camera@1.0",
                        "charming:browser/geolocation@1.0",
                        "charming:browser/clipboard-read@1.0",
                        "charming:browser/display-capture@1.0",
                        "charming:browser/midi@1.0",
                        "charming:browser/device-motion@1.0",
                        "charming:browser/ambient-light@1.0",
                        "charming:browser/storage@1.0"
                      ]
                    },
                    {
                      "type": "string",
                      "pattern": "^charming:app/[a-z0-9][a-z0-9-]{0,63}@[0-9]+\\.[0-9]+(?:\\.[0-9]+)?$"
                    }
                  ]
                }
              }
            }
          },
          "permissions": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "browser": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "img-src": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^https://[^/?#@*]+$"
                    }
                  }
                }
              },
              "server": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "fetch": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^https://[^/?#@*]+$"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EsmManifest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://charm.ing/schema/app-manifest/2026-09-05.json",
        "type": "object",
        "required": [
          "$schema",
          "id",
          "meta"
        ],
        "additionalProperties": false,
        "properties": {
          "$schema": {
            "const": "https://charm.ing/schema/app-manifest/2026-09-05.json"
          },
          "id": {
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9-]{0,63}$"
          },
          "meta": {
            "type": "object",
            "required": [
              "name"
            ],
            "additionalProperties": false,
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "icon": {
                "type": "object",
                "required": [
                  "emoji",
                  "bg"
                ],
                "additionalProperties": false,
                "properties": {
                  "emoji": {
                    "type": "string",
                    "minLength": 1
                  },
                  "bg": {
                    "type": "string",
                    "pattern": "^#(?:[0-9a-fA-F]{3}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$"
                  }
                }
              }
            }
          },
          "dependencies": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "server": {
                "type": "object",
                "propertyNames": {
                  "type": "string",
                  "format": "npm-package-name"
                },
                "additionalProperties": {
                  "type": "string",
                  "minLength": 1,
                  "format": "npm-semver-range"
                }
              },
              "client": {
                "type": "object",
                "propertyNames": {
                  "type": "string",
                  "format": "npm-package-name"
                },
                "additionalProperties": {
                  "type": "string",
                  "minLength": 1,
                  "format": "npm-semver-range"
                }
              }
            }
          },
          "permissions": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "browser": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "img-src": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^https://[^/?#@*]+$"
                    }
                  }
                }
              },
              "server": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "fetch": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "pattern": "^https://[^/?#@*]+$"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AppBuildResponse": {
        "type": "object",
        "required": [
          "ok",
          "buildId",
          "intent",
          "state",
          "sourceEtag",
          "statusUrl",
          "attempts",
          "acceptedAt",
          "updatedAt",
          "finishedAt",
          "elapsedMs",
          "lockState",
          "inputDigest",
          "queueDeadline",
          "deadline",
          "inspectionExpiresAt",
          "idempotencyExpiresAt"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "buildId": {
            "type": "string"
          },
          "intent": {
            "type": "string",
            "enum": [
              "create",
              "update",
              "migrate",
              "restore",
              "copy"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "queued",
              "resolving",
              "building",
              "validating",
              "published",
              "failed",
              "superseded",
              "canceled",
              "expired"
            ]
          },
          "sourceEtag": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string",
            "format": "uri"
          },
          "retryAfterSeconds": {
            "type": "integer"
          },
          "appId": {
            "type": "string",
            "format": "uuid"
          },
          "revision": {
            "type": "integer",
            "minimum": 1,
            "description": "Published app source revision. Present only after successful publication."
          },
          "desiredRevision": {
            "type": "integer"
          },
          "activeRevision": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "attempts": {
            "type": "integer"
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "elapsedMs": {
            "type": "integer"
          },
          "lockState": {
            "type": "string",
            "enum": [
              "locked",
              "unresolved"
            ]
          },
          "inputDigest": {
            "type": "string"
          },
          "lockDigest": {
            "type": "string"
          },
          "resolvedDependencies": {
            "type": "object",
            "required": [
              "server",
              "client"
            ],
            "properties": {
              "server": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "client": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "queueDeadline": {
            "type": "string",
            "format": "date-time"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "inspectionExpiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "idempotencyExpiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "source": {
            "type": "object",
            "required": [
              "module",
              "ui",
              "styles",
              "description"
            ],
            "properties": {
              "module": {
                "type": "string"
              },
              "ui": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "styles": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "error": {
            "type": "object",
            "required": [
              "kind",
              "message",
              "retryable"
            ],
            "properties": {
              "kind": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "target": {
                "type": "string"
              },
              "specifier": {
                "type": "string"
              },
              "line": {
                "type": "integer"
              },
              "column": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AppBuildPage": {
        "type": "string",
        "description": "Authenticated browser build progress or terminal result page."
      },
      "AppCreateBody": {
        "type": "object",
        "required": [
          "module"
        ],
        "properties": {
          "module": {
            "type": "string",
            "description": "Server ES module source. Must export a literal canonical `manifest` and a `routes` array. A route handler returns exactly the value declared by `outputSchema`; for `outputSchema: { type: \"array\", items: ... }`, return the array directly. Charming adds the HTTP transport envelope, so do not add `{ ok, value }` or `{ value }` unless those fields belong to `outputSchema` itself. `default.fetch` is an optional unmatched-request fallback; when absent, Charming supplies a generic 404 handler. Existing contracts publish synchronously; the explicit https://charm.ing/schema/app-manifest/2026-09-05.json contract requires an enabled authenticated user and accepts a background build."
          },
          "ui": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional browser source populating #app. A classic script for the existing contract; an ES module for the explicit ESM contract. ESM bare imports must match manifest.dependencies.client."
          },
          "styles": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional CSS injected alongside ui."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional app description, shown to the owner and to callers who read it back. For ESM POST upserts, omission preserves the desired description."
          },
          "migrate_contract": {
            "type": "boolean",
            "description": "ESM POST only: true explicitly migrates an existing same-owner manifest.id target. Supply its desired revision in If-Match. The existing app remains active until the build publishes."
          },
          "pair": {
            "type": "boolean",
            "description": "Existing-contract anonymous POST only; rejected on ESM saves. Silently ignored on existing-contract authenticated upserts. When true, server mints a bound device_code alongside the app token; user-claim auto-approves the pairing and the agent ends up with both an app token and a `chrm_user_*`."
          },
          "label": {
            "type": "string",
            "maxLength": 80,
            "description": "Existing-contract anonymous POST only; rejected on ESM saves. Silently ignored on existing-contract authenticated upserts. Human-readable label for the agent, surfaced to the user on the `/pair` approval page when `pair: true`."
          }
        },
        "additionalProperties": false
      },
      "AppUpdateBody": {
        "type": "object",
        "required": [
          "module"
        ],
        "properties": {
          "module": {
            "type": "string",
            "description": "Replacement server ES module source. Must export a literal canonical `manifest` and a `routes` array. A route handler returns exactly the value declared by `outputSchema`; for `outputSchema: { type: \"array\", items: ... }`, return the array directly. Charming adds the HTTP transport envelope, so do not add `{ ok, value }` or `{ value }` unless those fields belong to `outputSchema` itself. `default.fetch` is an optional unmatched-request fallback; when absent, Charming supplies a generic 404 handler. Keep the stored contract’s exact schema. ESM source is statically checked and built after acceptance."
          },
          "ui": {
            "type": [
              "string",
              "null"
            ],
            "description": "ESM browser module: omit to preserve desired UI, pass null to clear. Existing-contract PUT retains replacement semantics."
          },
          "styles": {
            "type": [
              "string",
              "null"
            ],
            "description": "ESM: omit to preserve desired styles, pass null to clear."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Omit to preserve the desired description; pass null to clear."
          },
          "migrate_contract": {
            "type": "boolean",
            "description": "Required as true when changing a stored contract. ESM migration requires the explicit ESM schema, Idempotency-Key and desired-source If-Match; it publishes only after a successful build. Source submissions do not roll back contracts. History can explicitly restore a retained validated existing-contract revision."
          }
        },
        "additionalProperties": false
      },
      "AppCreateResponse": {
        "type": "object",
        "required": [
          "id",
          "manifestId",
          "displayName",
          "url",
          "capabilities",
          "claimed",
          "revision"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "manifestId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "capabilities": {
            "$ref": "#/components/schemas/Manifest/properties/capabilities"
          },
          "icon": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Icon"
              },
              {
                "type": "null"
              }
            ]
          },
          "claimed": {
            "type": "boolean"
          },
          "revision": {
            "$ref": "#/components/schemas/Revision",
            "example": 4
          },
          "token": {
            "type": "string",
            "description": "Anonymous-create only. `chrm_app_*` plaintext, returned exactly once — irrecoverable."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Anonymous-create only. 7-day TTL unless claimed."
          },
          "mcpHint": {
            "type": "object",
            "properties": {
              "setupUrl": {
                "type": "string",
                "format": "uri"
              },
              "snippets": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "pairing": {
            "type": "object",
            "description": "Present only when the request body included `pair: true`. Agent should poll `POST /api/pair/poll` with `device_code` until status flips to `approved`.",
            "properties": {
              "device_code": {
                "type": "string"
              },
              "user_code": {
                "type": "string",
                "pattern": "^CHRM-[A-Z2-9]{6}$",
                "description": "Show verbatim to the user; they type it on `verification_url`."
              },
              "verification_url": {
                "type": "string",
                "format": "uri"
              },
              "polling_interval": {
                "type": "integer"
              },
              "expires_in": {
                "type": "integer"
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Non-blocking publish feedback (#1126), present only when static validation found UI/backend contract mismatches — e.g. the UI calls an operation this version does not expose. The write succeeded; fix by adding the backend op or renaming the UI call."
          }
        }
      },
      "AppUpdateResponse": {
        "type": "object",
        "required": [
          "id",
          "manifestId",
          "displayName",
          "url",
          "capabilities",
          "claimed",
          "revision"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "manifestId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "capabilities": {
            "$ref": "#/components/schemas/Manifest/properties/capabilities"
          },
          "icon": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Icon"
              },
              {
                "type": "null"
              }
            ]
          },
          "claimed": {
            "type": "boolean"
          },
          "revision": {
            "$ref": "#/components/schemas/Revision",
            "example": 4
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Non-blocking publish feedback (#1126), present only when static validation found UI/backend contract mismatches. The write succeeded."
          }
        }
      },
      "AppListResponse": {
        "type": "object",
        "required": [
          "apps"
        ],
        "properties": {
          "apps": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "revision"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "owner",
                    "collaborator",
                    "end-user",
                    "viewer",
                    "team-admin",
                    "team-member"
                  ],
                  "description": "`owner` = your app. `collaborator` = shared with you via an accepted invite (edit and run, never share/delete/transfer). `end-user` = shared use-and-write-data (run the app and write its data, but cannot edit the app source). `viewer` = shared read-only. `team-admin` / `team-member` = owned by a team you belong to. Non-owner rows carry the UUID-form `url`, which redirects to the owner-canonical URL."
                },
                "manifestId": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "revision": {
                  "$ref": "#/components/schemas/Revision",
                  "example": 4
                },
                "capabilities": {
                  "$ref": "#/components/schemas/Manifest/properties/capabilities"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass back as `cursor` query param to fetch the next page."
          }
        }
      },
      "DescribeResponse": {
        "type": "object",
        "required": [
          "id",
          "manifestId",
          "displayName",
          "revision",
          "capabilities",
          "ui",
          "styles",
          "claimed",
          "expiresAt",
          "api",
          "storageKeys"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "manifestId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "revision": {
            "$ref": "#/components/schemas/Revision",
            "example": 4
          },
          "capabilities": {
            "$ref": "#/components/schemas/Manifest/properties/capabilities"
          },
          "ui": {
            "type": "boolean"
          },
          "styles": {
            "type": "boolean"
          },
          "claimed": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "api": {
            "type": "object",
            "description": "Machine-readable app API summary for agents. Raw module source is intentionally omitted; operations are derived from manifest exports and literal /api/<operation> routes.",
            "required": [
              "baseUrl",
              "operations"
            ],
            "properties": {
              "baseUrl": {
                "type": "string",
                "format": "uri"
              },
              "operations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "op",
                    "method",
                    "path",
                    "url",
                    "tool",
                    "discoveredFrom"
                  ],
                  "properties": {
                    "op": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "PATCH",
                        "DELETE"
                      ]
                    },
                    "path": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "tool": {
                      "type": "string",
                      "enum": [
                        "query_app",
                        "mutate_app"
                      ],
                      "description": "MCP tool to invoke this op: query_app for read-only, mutate_app otherwise."
                    },
                    "discoveredFrom": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "manifest_export",
                          "module_route"
                        ]
                      }
                    },
                    "manifestExport": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "storageKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AppDescriptorResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AppDescriptor"
          },
          {
            "$ref": "#/components/schemas/AppDescriptorStub"
          }
        ]
      },
      "AppDescriptor": {
        "type": "object",
        "required": [
          "type",
          "schema_version",
          "id",
          "revision",
          "display_name",
          "app_name",
          "visibility",
          "authorized",
          "canonical_url",
          "when_to_use",
          "author_provided",
          "operations",
          "http_api",
          "mcp",
          "auth"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "charming.app-descriptor"
          },
          "schema_version": {
            "type": "string",
            "const": "v1"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "revision": {
            "$ref": "#/components/schemas/Revision",
            "example": 4
          },
          "display_name": {
            "type": "string"
          },
          "app_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "remixable",
              "private"
            ]
          },
          "authorized": {
            "type": "boolean"
          },
          "canonical_url": {
            "type": "string",
            "format": "uri"
          },
          "when_to_use": {
            "type": "string"
          },
          "author_provided": {
            "type": "object",
            "additionalProperties": true
          },
          "operations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "http_api": {
            "type": "object",
            "additionalProperties": true
          },
          "mcp": {
            "type": "object",
            "additionalProperties": true
          },
          "auth": {
            "type": "object",
            "additionalProperties": true
          },
          "advisories": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "AppDescriptorStub": {
        "type": "object",
        "description": "Fail-closed descriptor for a private app when the caller lacks app:read. It omits the app ID, revision, source state, and operations.",
        "required": [
          "type",
          "schema_version",
          "visibility",
          "authorized",
          "message",
          "auth"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "charming.app-descriptor"
          },
          "schema_version": {
            "type": "string",
            "const": "v1"
          },
          "visibility": {
            "type": "string",
            "const": "private"
          },
          "authorized": {
            "type": "boolean",
            "const": false
          },
          "message": {
            "type": "string"
          },
          "auth": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Revision": {
        "type": "integer",
        "minimum": 0,
        "example": 4,
        "examples": [
          0,
          4
        ],
        "description": "Server-owned app source revision. New apps start at 1, each successful source write advances it once, and historical null counters project as 0. `If-Match: \"<N>\"` and `expected_revision` carry this revision through its canonical concurrency grammar."
      },
      "AppSourceResponse": {
        "type": "object",
        "required": [
          "id",
          "url",
          "manifestId",
          "sourceManifestId",
          "displayName",
          "description",
          "revision",
          "appVersion",
          "manifestVersion",
          "capabilities",
          "claimed",
          "expiresAt",
          "source"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "manifestId": {
            "type": "string"
          },
          "sourceManifestId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "revision": {
            "$ref": "#/components/schemas/Revision",
            "example": 4
          },
          "appVersion": {
            "type": "string",
            "description": "Canonical and migrated apps return decimal `String(revision)`. Legacy apps return their stored effective SemVer."
          },
          "manifestVersion": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Required compatibility field. Canonical and migrated apps return null; legacy apps return their stored contract date."
          },
          "$schema": {
            "type": "string",
            "format": "uri",
            "enum": [
              "https://charm.ing/schema/app-manifest/2026-07-31.json",
              "https://charm.ing/schema/app-manifest/2026-09-05.json"
            ],
            "description": "Exact dated schema URL for canonical or ESM source. Legacy source responses omit this field."
          },
          "capabilities": {
            "$ref": "#/components/schemas/Manifest/properties/capabilities"
          },
          "claimed": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "source": {
            "type": "object",
            "required": [
              "module",
              "ui",
              "styles"
            ],
            "properties": {
              "module": {
                "type": "string"
              },
              "ui": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "styles": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        },
        "oneOf": [
          {
            "title": "Canonical app source",
            "required": [
              "$schema"
            ],
            "properties": {
              "$schema": {
                "const": "https://charm.ing/schema/app-manifest/2026-07-31.json"
              },
              "manifestVersion": {
                "type": "null"
              }
            }
          },
          {
            "title": "ESM app source",
            "required": [
              "$schema"
            ],
            "properties": {
              "$schema": {
                "const": "https://charm.ing/schema/app-manifest/2026-09-05.json"
              },
              "manifestVersion": {
                "type": "null"
              }
            }
          },
          {
            "title": "Legacy app source",
            "not": {
              "required": [
                "$schema"
              ]
            },
            "properties": {
              "manifestVersion": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ActivityResponse": {
        "type": "object",
        "required": [
          "ok",
          "value"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "value": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Newest-first durable runtime-failure events for this app. Bounded by per-kind insert caps and a 90-day retention window.",
                "items": {
                  "type": "object",
                  "required": [
                    "ts",
                    "kind",
                    "revision",
                    "summary",
                    "data"
                  ],
                  "properties": {
                    "ts": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "api_proxy_result",
                        "diag_report",
                        "contract_validation"
                      ]
                    },
                    "revision": {
                      "$ref": "#/components/schemas/Revision",
                      "description": "App source revision recorded with the event. Historical null event counters project as 0 and never borrow the app current revision.",
                      "example": 0
                    },
                    "summary": {
                      "type": "string",
                      "description": "Compact one-line description of the event."
                    },
                    "data": {
                      "type": "object",
                      "description": "Kind-specific redacted payload (no stacks, no tokens, no source bytes)."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DiagResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "value": {
            "type": "object",
            "properties": {
              "entries": {
                "type": "array",
                "description": "Most-recent-first ring buffer (50-entry cap per app).",
                "items": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "line": {
                      "type": "integer"
                    },
                    "col": {
                      "type": "integer"
                    },
                    "stack": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FeedbackSubmitBody": {
        "type": "object",
        "required": [
          "category"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "bug",
              "crash",
              "enhancement",
              "praise",
              "other"
            ],
            "description": "Feedback category. `crash` requires `crashData` (or its snake_case alias) carrying at least `message`."
          },
          "source": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "auto-crash"
            ],
            "description": "Optional origin tag. Defaults to `user`. The MCP `submit_feedback` tool forces `agent` server-side; direct REST callers may pass `user` / `auto-crash` explicitly."
          },
          "text": {
            "type": "string",
            "maxLength": 16384,
            "description": "Free-form feedback body. 16384-character cap; oversize bodies return `text_too_large` (413)."
          },
          "structuredData": {
            "type": "object",
            "additionalProperties": true,
            "description": "Caller-supplied JSON payload (e.g. route, repro inputs). Serialized payload is capped at 65536 bytes; oversize payloads return `structured_data_too_large` (413). Snake_case alias `structured_data` is also accepted."
          },
          "crashData": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "stack": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "userAgent": {
                "type": "string"
              },
              "traceId": {
                "type": "string"
              }
            },
            "description": "Crash details. Required when `category=crash`; optional otherwise. Snake_case alias `crash_data` is also accepted."
          }
        }
      },
      "FeedbackSubmitResponse": {
        "type": "object",
        "required": [
          "ok",
          "value"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "value": {
            "type": "object",
            "required": [
              "id",
              "createdAt"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "AppEventStateChanged": {
        "type": "object",
        "required": [
          "kind",
          "appId",
          "op",
          "source",
          "ts",
          "result"
        ],
        "description": "JSON payload of a `state-changed` SSE frame. Emitted after a write lands (`source: \"agent\"`) or as a synthetic catch-up signal (`source: \"reconnect-resync\"`, `op: null`, `result: null`) when the client reconnects with a stale `Last-Event-ID`.",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "state-changed"
            ]
          },
          "appId": {
            "type": "string"
          },
          "op": {
            "type": [
              "string",
              "null"
            ],
            "description": "Operation name that produced the state change, or `null` on synthetic `reconnect-resync` events."
          },
          "source": {
            "type": "string",
            "enum": [
              "agent",
              "reconnect-resync"
            ],
            "description": "`agent` for writes routed through the runtime; `reconnect-resync` for the server-generated catch-up signal."
          },
          "ts": {
            "type": "integer",
            "description": "Unix milliseconds at the time the frame was written."
          },
          "result": {
            "description": "Operation result body when JSON-shaped, `null` on `reconnect-resync` events and on operations whose response was non-JSON or exceeded the 32 KiB cap."
          }
        }
      },
      "AppEventOvercapacity": {
        "type": "object",
        "required": [
          "message"
        ],
        "description": "JSON payload of the `overcapacity` SSE frame emitted when the per-app subscriber cap is reached. The server closes the stream immediately after writing this frame; clients should back off before retrying.",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "too_many_subscribers"
            ]
          }
        }
      },
      "OkResponse": {
        "type": "object",
        "required": [
          "ok"
        ],
        "description": "Minimal success acknowledgement. `ok: true` confirms the mutation landed.",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "AppClaimResponse": {
        "type": "object",
        "required": [
          "ok",
          "id",
          "manifestId",
          "claimedAt"
        ],
        "description": "Acknowledgement returned by POST /app/{id}/claim once ownership transfers.",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "manifestId": {
            "type": "string"
          },
          "claimedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AppPublicResponse": {
        "type": "object",
        "required": [
          "public",
          "public_url"
        ],
        "description": "New public state plus the public URL when public is true.",
        "properties": {
          "public": {
            "type": "boolean"
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Public URL when `public: true` (friendly `/{handle}/{app-name}` form when available, `/app/{id}` otherwise). Anyone can open the live hosted App Viewer with no login and read its data, but cannot change data or source. `null` when `public: false`."
          }
        }
      },
      "AppRemixableResponse": {
        "type": "object",
        "required": [
          "remixable",
          "public_url",
          "listed"
        ],
        "description": "New remixable/listed state plus the shareable URL when remixable is true.",
        "properties": {
          "remixable": {
            "type": "boolean"
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shareable URL when `remixable: true` (friendly `/{handle}/{app-name}` form when available, `/app/{id}` otherwise); `null` when `remixable: false`."
          },
          "listed": {
            "type": "boolean",
            "description": "Whether the app is listed in the public template directory, reflecting the actual resulting state — not necessarily the request's `listed` field, since an omitted `listed` leaves the prior state unchanged. A listed app is always also `remixable: true`; always `false` when `remixable: false`."
          }
        }
      },
      "AppStarterPromptResponse": {
        "type": "object",
        "required": [
          "starter_prompt"
        ],
        "description": "New starter-prompt value (or `null` after clearing).",
        "properties": {
          "starter_prompt": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AppSecretListResponse": {
        "type": "object",
        "required": [
          "ok",
          "names"
        ],
        "description": "Owner-visible list of secret NAMES (values are never echoed).",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ManifestResolveResponse": {
        "type": "object",
        "required": [
          "appId"
        ],
        "description": "Resolved app id for the supplied manifestId in the caller’s scope. `appId` is omitted when no match exists (404).",
        "properties": {
          "appId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "AssetUploadResponse": {
        "type": "object",
        "required": [
          "ok",
          "key",
          "url",
          "sizeBytes"
        ],
        "description": "Confirmation that an asset was stored, with a signed URL for direct access.",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "key": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Signed URL for direct access."
          },
          "sizeBytes": {
            "type": "integer"
          }
        }
      },
      "AssetListResponse": {
        "type": "object",
        "required": [
          "ok",
          "assets"
        ],
        "description": "Stored assets for the app (newest-first).",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "assets": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "key",
                "contentType",
                "sizeBytes"
              ],
              "properties": {
                "key": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                },
                "sizeBytes": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PairStartResponse": {
        "type": "object",
        "required": [
          "device_code",
          "user_code",
          "verification_url",
          "polling_interval",
          "expires_in"
        ],
        "description": "RFC 8628-shaped device-code response. Poll `POST /api/pair/poll` until the user approves.",
        "properties": {
          "device_code": {
            "type": "string",
            "description": "Agent-private — store securely, never display or log. Anyone with the device_code can poll for the token."
          },
          "user_code": {
            "type": "string",
            "pattern": "^CHRM-[A-Z2-9]{6}$"
          },
          "verification_url": {
            "type": "string",
            "format": "uri"
          },
          "verification_url_complete": {
            "type": "string",
            "format": "uri"
          },
          "polling_interval": {
            "type": "integer"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "PairPollResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "description": "Poll result for a previously-minted device_code. `token` is delivered exactly once.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "expired",
              "approved"
            ]
          },
          "token": {
            "type": "string",
            "description": "Only on the first poll after approval. `chrm_user_*` plaintext, irrecoverable."
          },
          "tokenPrefix": {
            "type": "string"
          },
          "already_delivered": {
            "type": "boolean"
          }
        }
      },
      "TokenCreateResponse": {
        "type": "object",
        "required": [
          "token",
          "tokenPrefix",
          "expiresAt"
        ],
        "description": "Minted personal access token. `token` plaintext is returned exactly once.",
        "properties": {
          "token": {
            "type": "string"
          },
          "tokenPrefix": {
            "type": "string"
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TokenInfo": {
        "type": "object",
        "required": [
          "id",
          "tokenPrefix",
          "expiresAt",
          "createdAt"
        ],
        "description": "Public metadata for one personal access token row. Plaintext and hash are never echoed.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tokenPrefix": {
            "type": "string"
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TokenListResponse": {
        "type": "object",
        "required": [
          "tokens"
        ],
        "description": "List of the caller's personal access tokens.",
        "properties": {
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenInfo"
            }
          }
        }
      },
      "Routine": {
        "type": "object",
        "description": "A declared op scheduled to run on a timer. The op is invoked with empty input, so it must declare no required input fields.",
        "required": [
          "id",
          "app_id",
          "op",
          "interval",
          "enabled",
          "disabled_reason",
          "next_run_at",
          "last_run_at",
          "last_outcome",
          "last_error",
          "consecutive_failures"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Public id, `routine_<uuid>` form."
          },
          "app_id": {
            "type": "string",
            "format": "uuid"
          },
          "op": {
            "type": "string"
          },
          "interval": {
            "type": "string",
            "enum": [
              "hourly",
              "daily",
              "weekly"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "disabled_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "owner",
              "auto",
              null
            ]
          },
          "next_run_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "`null` while the Routine is disabled — the underlying schedule is preserved and reappears here once re-enabled, with no recomputation."
          },
          "last_run_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_error": {
            "type": [
              "object",
              "null"
            ],
            "required": [
              "kind",
              "message"
            ],
            "properties": {
              "kind": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "consecutive_failures": {
            "type": "integer"
          }
        }
      },
      "RoutineResponse": {
        "type": "object",
        "required": [
          "ok",
          "routine"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "routine": {
            "$ref": "#/components/schemas/Routine"
          }
        }
      },
      "RoutineListResponse": {
        "type": "object",
        "required": [
          "ok",
          "routines"
        ],
        "description": "The caller's Routines.",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "routines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Routine"
            }
          }
        }
      }
    }
  },
  "x-charming-app-build-policy": {
    "version": "app-build-v1",
    "concurrency": 2,
    "actorConcurrency": 1,
    "pendingLimit": 16,
    "actorPendingLimit": 3,
    "queueMs": 600000,
    "attemptMs": 600000,
    "totalMs": 1200000,
    "leaseMs": 30000,
    "heartbeatMs": 10000,
    "retryBackoffMs": 10000,
    "attempts": 2,
    "pollMs": 2000,
    "inspectionMs": 604800000,
    "idempotencyMs": 2592000000
  },
  "paths": {
    "/api/v1/app-builds/{buildId}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current build operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          },
          "303": {
            "description": "Browser navigation to the actual published app URL.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid source inclusion query.",
            "x-error-kinds": [
              "invalid_request"
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "User authentication required.",
            "x-error-kinds": [
              "unauthorized"
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          },
          "404": {
            "description": "Build not found or inaccessible.",
            "x-error-kinds": [
              "not_found"
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          }
        },
        "operationId": "get-app-build",
        "summary": "Read an app build and its accepted source",
        "description": "Read progress or the retained terminal result using current user source access. Set include_source=true to inspect the exact accepted input. Only published means the app is live. Status remains available after authoring cohort removal. Accept: text/html renders progress and terminal results; pending pages refresh this status resource and published pages redirect to the actual app URL.",
        "security": [
          {
            "userToken": []
          }
        ]
      }
    },
    "/api/v1/app-builds/{buildId}/cancel": {
      "post": {
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current build operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildResponse"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          },
          "303": {
            "description": "Browser navigation to the actual published app URL.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "description": "User authentication required.",
            "x-error-kinds": [
              "unauthorized"
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          },
          "403": {
            "description": "Cookie-backed mutations must come from the Charming origin.",
            "x-error-kinds": [
              "forbidden"
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          },
          "404": {
            "description": "Build not found or inaccessible.",
            "x-error-kinds": [
              "not_found"
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildPage"
                }
              }
            }
          }
        },
        "operationId": "cancel-app-build",
        "summary": "Cancel a pending app build",
        "description": "Cancel pending work using current user source access. Repeated cancellation is safe. A canceled operation cannot publish even if remote work finishes later; the active app stays unchanged. Cancellation remains available after authoring cohort removal. Browser form submissions render the terminal result as HTML.",
        "security": [
          {
            "userToken": []
          }
        ]
      }
    },
    "/app": {
      "post": {
        "operationId": "create-app",
        "summary": "Create an app or accept an ESM app build",
        "description": "Existing-contract callers receive a published app synchronously; anonymous creation returns a chrm_app_* token and may request pair: true. The explicit https://charm.ing/schema/app-manifest/2026-09-05.json contract requires an enabled authenticated user and Idempotency-Key, validates imports without evaluation, and returns 202 before dependency resolution or compilation. A same-owner manifest.id target is frozen at acceptance; an absent target cannot later become an overwrite. Use PUT for a known app. Every existing ESM destination requires its desired revision in If-Match; migration also requires migrate_contract: true. pair and label are not ESM fields.",
        "security": [
          {},
          {
            "userToken": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[!-~]+$"
            },
            "description": "Required for ESM saves. Reuse the same key, body, target and If-Match after response loss; a changed request with that key returns idempotency_conflict. Use a fresh key for each intentional save."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Desired-source revision in double quotes for an ESM upsert or migration. Read GET /app/{id}/source first."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreateBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App created or upserted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCreateResponse"
                }
              }
            }
          },
          "202": {
            "description": "ESM source accepted for a background build. This response does not mean the app has published. Poll statusUrl until a terminal state; new creation has no runnable app or URL until published.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "Authorized build status URL."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds before polling a pending build."
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Identity of this operation’s immutable source input."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid source syntax, body, or required ESM idempotency key. See error.kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "ESM creation requires a valid user credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ESM authoring is not enabled for this caller (contract_not_enabled).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict or frozen manifest identity conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "The desired source revision changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Source exceeds the contract limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Manifest, import/dependency mismatch, or explicit migration validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "A required desired-source revision is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Build capacity is full (app_build_capacity). Retry-After gives the retry delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "list-apps",
        "summary": "List your owned and shared apps, newest first",
        "description": "Paginated newest-first listing of apps the caller owns or has been granted access to. Use `cursor` (from the previous page) and `limit` to iterate. Each row carries its server revision, the `role` (owner | collaborator | end-user | viewer | team-admin | team-member), and a UUID-form `url` that redirects to the friendly owner-canonical URL.",
        "security": [
          {
            "userToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor returned as `nextCursor` from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "Page of apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Listing requires user-scoped auth (`chrm_user_*` or session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "update-app",
        "summary": "Update an existing app",
        "description": "Storage survives updates. Existing contracts retain synchronous PUT and optional If-Match. ESM saves require Idempotency-Key and If-Match carrying the current desired source revision; accepted source advances desired while active remains the last working build. Omitting ui/styles preserves desired values only for ESM; null clears. Successful builds publish automatically; later saves supersede pending builds.",
        "security": [
          {
            "appToken": []
          },
          {
            "userToken": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[!-~]+$"
            },
            "description": "Required for ESM saves. Reuse the same key, body, target and If-Match after response loss; a changed request with that key returns idempotency_conflict. Use a fresh key for each intentional save."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Validator \"<N>\" for revision N from desired GET /app/:id/source. Required for ESM saves and migrations; optional for existing-contract PUT. The weak form W/\"<N>\" is also accepted so clients can return the response ETag verbatim."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "headers": {
              "ETag": {
                "description": "New strong validator `\"<N>\"` where N is the committed server revision.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUpdateResponse"
                }
              }
            }
          },
          "202": {
            "description": "ESM source accepted for a background build. This response does not mean the app has published. Poll statusUrl until a terminal state; new creation has no runnable app or URL until published.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "Authorized build status URL."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds before polling a pending build."
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Identity of this operation’s immutable source input."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppBuildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid module/ui/styles, unexpected body keys, or malformed If-Match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Token mismatch or wrong scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Bearer is for a different app.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "App not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency or manifest identity conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "If-Match did not match the current server revision; response carries the current ETag.",
            "headers": {
              "ETag": {
                "description": "Current strong validator `\"<N>\"`.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Source exceeds the contract limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid manifest, import/dependency mismatch, or required explicit migration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "ESM saves require desired-source If-Match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Build capacity is full; retry after the returned delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-app",
        "summary": "Delete an app",
        "description": "Permanently removes the app row. Bearer must authorize this app (`chrm_app_*` for the same id, or the owning user). Pass `?purge=storage` to also wipe the app’s key-value rows; without it, the storage table is left as-is for forensic readability.",
        "security": [
          {
            "appToken": []
          },
          {
            "userToken": []
          }
        ],
        "parameters": [
          {
            "name": "purge",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "storage"
[...]
